# ---------------------------
# Python Cache
# ---------------------------
__pycache__/
*.py[cod]
*$py.class

# ---------------------------
# Virtual Environment
# ---------------------------
venv/
.env/

# ---------------------------
# Logs
# ---------------------------
*.log

# ---------------------------
# Temporary Uploads
# ---------------------------
temp_uploads/

# ---------------------------
# OS Files
# ---------------------------
.DS_Store
Thumbs.db

# ---------------------------
# VS Code
# ---------------------------
.vscode/

# ---------------------------
# Jupyter
# ---------------------------
.ipynb_checkpoints/

# ---------------------------
# HuggingFace Cache (local only)
# ---------------------------
.cache/